<div class="container box">
	<h2>User info</h2>

	<%= form_for(@user) do |f| %>
		<div class="field">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>
		<div class="field">
			<%= f.label :image %>
			<%= f.file_field :image %>
		</div>
		<div class="field">
			<%= f.label :introduction %>
			<%= f.text_field :introduction %>
		</div>
            <%= f.submit %>
	<% end %>
</div>

