<div class="col-xs-12">
    <h2>User info</h2>
      <% if user.image? %>
          <td><%= image_tag user.image.url %></td>  
          <% else %>
          <td><%= image_tag 'no_image.jpg' %></td>
      <% end %>
      <table class="table">
      <tbody><tr></tr> 
      <tr>
    	  <th>name</th>
    	  <th><%= user.name %></th>
      </tr>
      <tr>
    	  <th>introduction</th>
    	  <th><%= user.introduction %></th>
      </tr>
    </tbody></table>
    <% if user_signed_in? %>
      <div class="row">
        <%= link_to follows_user_path(user), class: "btn btn-default col-xs-6" do %>
          <strong><%= user.followings.count %></strong> followings
        <% end %>
        <%= link_to followers_user_path(user), class: "btn btn-default col-xs-6" do %>
          <strong><%= user.followers.count %></strong> followers
        <% end %>
        <%= link_to user_path(user), class: "btn btn-default col-xs-6" do %>
          <strong><%= user.books.count %></strong>books
        <% end %>
        <%= link_to favorites_user_path(user), class: "btn btn-default col-xs-6" do %>
          <strong><%= user.favorites.count %></strong>favorites
        <% end %>
        <%= link_to edit_user_path(user.id), class: "btn btn-default col-xs-12" do %>
          <i class="glyphicon glyphicon-wrench"></i>
        <% end %>
      </div>
    <% end %>
  </div>